/* Base Styles */

@import "compass/typography/vertical_rhythm";
@include establish-baseline;

* { @include box-sizing(border-box); }

body {
  background: $global-bg-color;
  font-family: $font-family;
  font-weight: $body-font-weight;
  color: $body-font-color;
  position: relative;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: grayscale;
  @include respond(all-phones) {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
}

.hide {
  display: none;
}

.hide.active, .show {
  display: block;
}

// include all entypo icon classes

// .fixed elements will be static at supplied breakpoint
// set arg to false for permanent .fixed elements
@include fixed(portrait-tablets);

.text-center { @extend %text-center; }
.text-left { @extend %text-left; }
.text-right { @extend %text-right; }
// Partial to align Text Left or Right
%text-center { text-align: center; }
%text-left { text-align: left; }
%text-right { text-align: right; }
