h1,h2,h3,h4,h5,h6 {
	font-family: 'knowledge';
	color: #005a84;
}

a {
	color: $secondary-color;
}

.highlight-text {
	background: #ECEBEB;
}

.document-body {
	.highlight-doc {
		background: #fff693;
	}
}

.styled-select {
   background: #fff;
   padding: 5px 10px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 5px;
   -webkit-appearance: none;
   color: #ff9100;

}

.container-sidebar-nav {
	background:#252525;
	height:100%;
	width:48px;
	border-right: 1px solid #000;
	position:fixed;
	left:0;
	bottom: 0;
	top: 0;


	.sidebar-nav-ul {
		font-size:1.5em;
		color:#999;
		text-align:center;
	}

	li {
		padding: 12px 0;
		border-bottom:1px solid #fff;
		position:relative;
		border-top: 1px solid rgba(255, 255, 255, 0.20);
		border-bottom: 1px solid rgba(0, 0, 0, 0.75);
		cursor: pointer;

		&.active {
			background: rgba(45, 45, 45, 0.2);
			-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.6) inset;
			-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.6) inset;
			box-shadow: 0 0 18px rgba(0, 0, 0, 0.6) inset;
			border-color: rgba(0, 0, 0, 0.6);
			color:#fff;
		}
	}

	.sidebar-nav-icon {
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

.container-nav-slide-out {
	overflow:hidden;

	.slide-out-window {
		background:white;
		position:absolute;
		top:0;
		width:300px;
		height:100%;
		z-index:200;

		&.left {
			left:0;
		}

		&.right {
			right:0;
		}
	}

	.slide-out-header {
		background:#ff9100;
		padding: 0 20px;
		position: relative;
		color: #fff;

		h4 {
			color: #fff;
		}

		.header-icon-close {
			position: absolute;
			top:0;
			right:0;
			padding:5px;
			font-size: 1.5em;
		}
	}

	.slide-out-ul {
		color: #444;

		li {
			border-bottom: 1px solid #ccc;
			padding: 8px 20px;
			position:relative;


			&.selected {
				background: #eee;
			}			
		}

		i {
			font-size: 1.5em;
			position:absolute;
			top:50%;
			margin-top: -0.45em;
			left: 15px;
		}
		.slide-out-text {
			padding-left:2em;
		}	
	}
}

.container-main-content {
	padding-left:48px;
}

.container-main-search-bar {
	background: #eee;

	.search-bar {
		padding: 10px 30px;
		margin-bottom: 0;

		.icon-right {
			font-family: 'checkpoint';
		}

		.adjoined {
			background: #ccc;
			border: 1px solid #bbb;
		}
	}
}

.container-search-bar-filter {

	ul {
		font-size: 0.9em;
	}

	li {
		display:inline-block;
		margin-right:20px;
		background: #fff;
		border: 1px solid #ccc;
		padding: 3px 8px;
		position: relative;
		border-radius: 5px;
	}

	.filter-button-text {
		margin-right: 40px;
	}

	.filter-button-icon {
		padding: 5px 10px;
		border-left: 1px solid #ccc;
		font-size: 1.5em;
		position:absolute;
		top:0;
		right:0;
	}
}
.search-home-row {
	padding-top:100px;
	.center-image {
		position: absolute;
		left: 50%;
		margin-left: -157.5px;
	}
}

.container-search-results {
	cursor:pointer;

	&:nth-child(even) {		
		background:#f5f5f5;
	}

	.search-results-wrapper {
		padding: 1em 0;
		border-bottom: 1px solid #ccc;
	}
	i {
		font-size: 1.8em;
		color:#444;
		float:left;
		line-height: 1.5em;
	}

	.search-results-title {
		margin-left: 1.2em;
	}
	p {
		margin:0;
	}
	.ods-title {
		color: #69bd54;
		font-size: 0.9em;
		font-weight:bold;
	}
}

.document-header {
	background: #eee;
	padding: 0 0 0 20px;
	border-bottom: 1px solid #ccc;

	.document-header-logo {
		font-size:2em;
		float:left;
		line-height:1em;
	}

	.document-header-title {
		margin-left: 60px;
		line-height: 1.1em;
		font-weight:bold;
	}

	.eight {
		padding: 4px 0;
	}

	.document-header-nav {
		float:right;
		font-size: 1.5em;
		color: #444;
		margin-bottom:0;



		li {
			display:inline-block;
			padding: 0.3em 0.7em;
			border-left: 1px solid #ccc;
		}
	}

	.styled-select {
		position:absolute;
		top: 3px;
		right: 130px;
	}

	.document-ods-title {
		margin-left: 60px;
		font-size:0.9em;
		line-height: 1.1em;
	}	
}

.document-body {
	padding-top:20px;

	p {
		position: relative;
	}
} 

.background-overlay {
	position:fixed;
	background: rgba(0, 0, 0, 0.6);
	width:100%;
	height:100%;
	z-index: 100;
}

.container-slide-out {
	overflow:hidden;

	.slide-out-window {
		background:white;
		position:absolute;
		top:0;
		width:400px;
		height:100%;
		z-index:200;

		&.left {
			left:0;
		}

		&.right {
			right:0;
		}
	}

	.slide-out-header {
		background:#ff9100;
		padding: 0 15px;
		position: relative;
		color: #fff;

		h4 {
			color: #fff;
		}

		.header-icon-close {
			position: absolute;
			top:0;
			right:0;
			padding:5px;
			font-size: 1.5em;
		}
	}

	.slide-out-ul {
		color: #444;

		li {
			border-bottom: 1px solid #ccc;
			padding: 8px 15px;

			&.selected {
				background: #eee;
			}
		}
	}

	.children-icon {
		float: right;
		margin-right: 10px;
		font-size: 1.5em;
		line-height: 1.2em;
	}
}

.container-tools-header {
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}

.container-tools-list {

	.tools-list-ul {
		margin-top: 20px;
	}

	.tools-list-li {
		padding:5px 10px;
		width:250px;
		background: #f5f5f5;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 10px;
	}
}

.container-breadcrumb {
	line-height: 2em;
	font-weight: bold;

	.breadcrumb-ul {
		margin:0;
	}
	
	.breadcrumb-li {
		display:inline-block;
		text-shadow: 0 1px 0 #fff;
		padding:0;
	}

	.breadcrumb-last {

	}

	.breadcrumb-divider {
		margin-right:5px;
		color: #ccc;
	}
}

.doc-note-container {
	border: 1px solid #eee;
	background: #f9f9f9;
	margin: 20px 0;

	.doc-note-header {
		background: #ddd;
		padding: 0 10px;
		border-bottom: 1px solid #ccc;
		position:relative;

		h5 {
			color: #444;	
		}

		i {
			position:absolute;
			top:8px;
			right:8px;
		}
	}

	.doc-note-text-container {
		position:relative;

		.doc-note-text {
			padding: 10px;
			margin:0;
			border-bottom: 1px solid #ccc;
		}

		i {
			position:absolute;
			top: 0.5em;
			color: #999;
			font-size: 1.3em;
		}

		.edit {
			right: 1.5em;
		}

		.remove {
			right: 0.5em;
		}
	}
}

.notes-search-container {

	.table-note-text {

		p {
			margin:0;
		}
	}

	.table-note-edit-td {
		width: 4em;

		i {
			color: #999;
			top: 0.5em;
			font-size: 1.3em;
		}
	}
}

.repeat-animate.ng-enter,
.repeat-animate.ng-leave {
  -webkit-transition:0.3s linear all;
  transition:0.3s linear all;
}

.repeat-animate.ng-enter,
.repeat-animate.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-animate.ng-leave,
.repeat-animate.ng-enter.ng-enter-active {
  opacity:1;
}