/* Fonts */

// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font-face {
	font-family: 'knowledge';
	src:url('fonts/Knowledge-Regular.otf');
}
@font-face {
	font-family: 'checkpoint';
	src:url('fonts/checkpoint.eot?uhi5gc');
	src:url('fonts/checkpoint.eot?#iefixuhi5gc') format('embedded-opentype'),
		url('fonts/checkpoint.woff?uhi5gc') format('woff'),
		url('fonts/checkpoint.ttf?uhi5gc') format('truetype'),
		url('fonts/checkpoint.svg?uhi5gc#checkpoint') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'checkpoint';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
	content: "\e00c";
}
.icon-pencil:before {
	content: "\e011";
}
.icon-graduation:before {
	content: "\e076";
}
.icon-folder:before {
	content: "\e098";
}
.icon-envelope:before {
	content: "\e0ec";
}
.icon-history:before {
	content: "\e0ff";
}
.icon-screen:before {
	content: "\e120";
}
.icon-archive:before {
	content: "\e12b";
}
.icon-cog:before {
	content: "\e1df";
}
.icon-tools:before {
	content: "\e1e9";
}
.icon-list:before {
	content: "\e299";
}
.icon-menu:before {
	content: "\e2af";
}
.icon-earth:before {
	content: "\e2c7";
}
.icon-link:before {
	content: "\e2cd";
}
.icon-flag:before {
	content: "\e2d5";
}
.icon-checkmark:before {
	content: "\e370";
}
.icon-exit:before {
	content: "\e37e";
}
.icon-filter:before {
	content: "\e443";
}
.icon-search:before {
	content: "\f002";
}
.icon-check:before {
	content: "\f00c";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-comment:before {
	content: "\f075";
}
.icon-phone:before {
	content: "\f095";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-file-text:before {
	content: "\f0f6";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
