 <ul class="sidebar-nav-ul">
	<li ng-if="item.href" ng-repeat-start="item in sidebarData" ng-click="go('/'+item.href)" ng-class="{ active: isActive('/{{item.href}}')}"><i class="sidebar-nav-icon {{item.icon}}"></i></li>
	<li ng-if="item.slideOut" ng-click="showNavSlideOut(item)"><i class="sidebar-nav-icon {{item.icon}}"></i></li>
	<li ng-if="item.exit" ng-repeat-end><i class="sidebar-nav-icon {{item.icon}}"></i></li>
</ul>
