<slide-out-window show="filterSlideOut" data="user.sources" filter="user.sourcesFilter" side="right"></slide-out-window>
<div class="container-main-search-bar">
	<div class="search-bar prepend append field">
		<span class="adjoined">Federal
			<i class="icon-caret-down"></i>
		</span>
		<input class="xwide text input" type="text" ng-model="user.filterSearch" placeholder="What are you looking for?" ng-change="switchView()"/>
		<div class="medium primary btn" ng-click="toggleFilter()"><a>add filter<i class="icon-filter"></i></a></div>
	</div>
	<div ng-if="user.sourcesFilter.length" class="row container-search-bar-filter repeat-animate">
		<ul>
			<li class="repeat-animate" ng-repeat="source in user.sourcesFilter">
				<span class="filter-button-text">{{source.name}}</span>
				<i ng-click="removeFilter()" class="filter-button-icon icon-remove"></i>
			</li>
		</ul>
	</div>
</div>
<ng-include src="user.searchView"></ng-include>
