<div ng-show="user.filterSearch" class="container-search-results row repeat-animate" ng-repeat="result in searchResults | bySource:user.sourcesFilter | filter:user.filterSearch" ng-click="go('/document/'+result.docId)">
	<div class="search-results-wrapper">
		<i class="icon-file-text"></i>
		<h2 class="search-results-title" ng-bind-html="result.title | highlight:user.filterSearch"></h2>
		<p ng-bind-html="result.snippet | highlight:user.filterSearch"></p>
		<div class="ods-title" ng-bind-html="result.ofs | highlight:user.filterSearch"></div>
	</div>
</div>