<div class="row notes-search-container">
	<input type="text" ng-model="notesFilter"/>
	<table class="striped rounded">
	<thead>
		<tr>
			<th ng-click="predicate = 'docId'; reverse=!reverse">Doc Name</th>
			<th ng-click="predicate = 'text'; reverse=!reverse">Note</th>
			<th></th>
			<th ng-click="predicate = 'time'; reverse=!reverse">Time</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="note in notesPersist | filter:notesFilter | orderBy:predicate:reverse">
			<td><a href="" ng-click="go('/document/'+note.docId)" ng-bind-html="note.docName | highlight:notesFilter"></a></td>
			<td class="field table-note-text">
				<p ng-bind-html="note.text | highlight:notesFilter"></p>
				<input class="input" type="text" ng-model="note.text" ng-show="showEditNote" ng-enter="changeNoteText()"/>	
			</td>
			<td class="table-note-edit-td">
				<i class="edit icon-pencil" ng-click="showEditNote = !showEditNote"></i>
				<i class="remove icon-remove" ng-click="removeNote(note)"></i>
			</td>
			<td ng-bind-html="note.time | date:'MM/dd/yyyy @ h:mma'"></td>
		</tr>
	</tbody>
</table>
</div>