<div class="container-breadcrumb">
	<ul class="breadcrumb-ul">
		<li class="breadcrumb-li" ng-repeat="stuff in data" ng-switch="$last">
			<a ng-switch-when="false" ng-href="#/{{stuff.href}}">{{stuff.name}}</a>
			<span class="breadcrumb-last" ng-switch-when="true">{{stuff.name}}</span>
			<span ng-if="!$last" class="breadcrumb-divider">/</span>
		</li>
	</ul>
</div>