<div class="container-nav-slide-out" ng-show="show">
	<div class="background-overlay" ng-click="closeWindow()"></div>
	<div class="slide-out-window" ng-class="side">
		<div class="slide-out-header">
			<h4>Menu</h4>
			<i class="header-icon-close icon-remove" ng-click="closeWindow()"></i>
		</div>
		<ul class="slide-out-ul">
			<li ng-repeat="source in data" ng-click="ctrl('/notes');closeWindow()">
				<i ng-class="source.icon"></i>
				<span class="slide-out-text">{{source.name}}</span>
			</li>
		</ul>
	</div>
</div>
