<div class="container-slide-out" ng-show="show">
	<div class="background-overlay" ng-click="closeWindow()"></div>
	<div class="slide-out-window" ng-class="side">
		<div class="slide-out-header">
			<h4>filter search by...</h4>
			<i class="header-icon-close icon-remove" ng-click="closeWindow()"></i>
		</div>
		<ul class="slide-out-ul">
			<li ng-class="{'selected': source.sourceSelected}" ng-repeat="source in data" ng-click="sourceSelect()">
				{{source.name}}
				<div class="children-icon icon-chevron-right"></div>
			</li>
		</ul>
	</div>
</div>
