<div class="row document-header">
	<div class="eight columns">
		<span class="document-header-logo">{{documentData.logo}}</span>
		<div class="document-header-title">{{documentData.title}}</div>
		<div class="document-ods-title">{{documentData.source}}</div>
	</div>
	<div class="four columns">
		<select class="styled-select">
			<option value="(a) section your in">(a) section your in</option>
			<option value="(b) section your in">(b) our this one</option>
			<option value="(c) section your in">(c) here is another one</option>
			<option value="(d) section your in">(d) Angular Rocks</option>
		</select>
		<ul class="document-header-nav">
			<li><i class="icon-list"></i></li>
			<li><i class="icon-ellipsis-h"></i></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="columns eight centered">
		<div class="field">
			<input class="input" type="text" ng-model="noteText" ng-enter="addNote(noteText)" placeholder="Add a Note"/>
		</div>
		<div class="doc-note-container">
			<div class="doc-note-header">
				<h5>Notes</h5>
				<i ng-class="showNotes ? 'icon-minus' : 'icon-plus'" ng-click="showNotes = !showNotes"></i>
			</div>
			<div class="doc-notes-wrapper" ng-show="showNotes" ng-init="showNotes = true">
				<div class="doc-note-text-container" ng-repeat="note in notesPersist | filter:documentData.docId">
					<p class="field doc-note-text">{{note.text}}
						<input class="input" type="text" ng-model="note.text" ng-show="showEditNote" ng-enter="changeNoteText()"/>
					</p>
					<i class="edit icon-pencil" ng-click="showEditNote = !showEditNote"></i>
					<i class="remove icon-remove" ng-click="removeNote(note)"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row document-body">
	<div class="columns eight centered">
		<h2 class="document-title">{{documentData.title}}</h2>
		<!-- <div ng-bind-html="documentBodyData"></div> -->
		<div highlightdoc doc="documentBodyData">
			
			<!-- <input type="button" value="Toggle someClass on selection" ng-click="cssApplier()"/> -->
		</div>
	</div>
</div>

